html,
body {
  height: 100%;
  margin: 0;
}
.top-layout {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.content {


  margin-left: 14rem;
  margin-right: 0rem;
  padding: 2rem 1rem;
  background: rgb(255, 236, 220);
  background: linear-gradient(
    0deg,
    rgba(255, 236, 220, 1) 0%,
    rgba(255, 255, 255, 1) 46%
  );
}

.corr-icon-container {
  display: flex;
  flex-direction: column;
}
.corr-icon-container .corr-icon {
  align-self: flex-end;
  height: 10%;
  width: 10%;
  object-fit: contain;
}
.corr-icon-container .content-title {
  align-self: stretch;
  padding-top: 2%;
  text-align: center;
  color: #7b4a49;
  text-shadow: 2px, 2px;
}
.admin-name {
  padding-top: 10px;
  align-self: center;
}
.month-container {
  padding-top: 40px;
  padding-bottom: 10px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 14rem;
  padding: 2rem 1rem;
  background: rgb(177, 59, 47);
  background: linear-gradient(
    0deg,
    rgba(177, 59, 47, 1) 0%,
    rgba(211, 135, 104, 0.9359944661458334) 46%
  );
  box-shadow: 2px 0px 5px;
}

.sidebar::before {
  content: "";
  background-image: url("/assets/images/cafe_background.jpg");
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 14rem;
  opacity: 0.1;
}

.sidebar-image {
  width: 100%;
  padding-bottom: 30px;
  height: auto;
}

.mintic-image {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}

.nav-pills {
  font-size: large;
  text-shadow: 1px 3px 8px;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.nav-link {
  color: #ffffff;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
.wrapper-user-tie {
  display: flex;
  flex-direction: column;
}
.fas, .far {
  padding-right: 15%;
}
.fa-user-tie {
  padding-right: 0%;
  align-self: center;
  font-size: 60px;
}

hr {
  border: 1px solid #ffffff;
}

