/* CORE STYLES */
:root {
  --primary-color: rgba(13, 110, 139, 0);
  --overlay-color: rgba(24, 39, 51, 0.95);
  --menu-speed: 0.75s;
}
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background: hsla(212, 35%, 58%, 1);

  background: linear-gradient(
    0deg,
    hsla(212, 35%, 58%, 1) 0%,
    hsla(218, 32%, 80%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(212, 35%, 58%, 1) 0%,
    hsla(218, 32%, 80%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(212, 35%, 58%, 1) 0%,
    hsla(218, 32%, 80%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1 );
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}
.wrapper__steam {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.wrapper__steam-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}
.graph_col_1 {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 1rem);
}
.data_col_2 {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 2rem);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 0;
  width: 100%;
}
.wrapper-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper__steam {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}
.corr-icon {
  border-style: none;
  display: flex;
  align-content: end;
  align-self: end;
}

@media only screen and (max-width: 600px) {
}

.mintic-image {
  width: 100%;
  height: auto;
}
.carousel-home {
  height: 100vh;
  width: 100vw;
}
.carousel-home * {
  height: 100%;
}
.carousel-slide {
  height: 100%;
}

.carousel-control-prev-icon {
  width: 45px;
  height: 45px;
  position: fixed;
  z-index: 10;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  width: 45px;
  height: 45px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators .active {
  background-color: #f00;
}
.card-header-tabs {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-bottom: 0;
}

.nav-link {
  outline: 0;
  color: #ffffff;
}

/* Efficiency */

.wrapper__efficiency {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}
.wrapper__efficiency-data {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.cards-about {
  width: 20vw;
}
.card-body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-about {
  width: 50%;
  height: auto;
}
.wrapper__about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrapper__about-us-data {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* .corr-icon-container {
  display: flex;
  flex-direction: column;

}
.nav-pills .active {
  background-color: white;
}

/* Menu */

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #f00;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  width: 100%;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-wrap .menu > div > div > ul > li {
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
