.content{

    margin-left: 16rem;
    margin-right: 0rem;
    padding: 2rem 1rem;
    background: rgb(255,236,220);
    background: linear-gradient(0deg, rgba(255,236,220,1) 0%, rgba(255,255,255,1) 46%);
}

.corr-icon-container{
    display: flex;
    flex-direction: column;
}
.corr-icon-container .corr-icon{
    align-self: flex-end;
    height: 10%;
    width: 10%;
    object-fit: contain;
}
.corr-icon-container .content-title{
    align-self: stretch;
    padding-top: 2%;
    text-align: center;
    color: #7B4A49;
    text-shadow: 2px, 2px;

}
.admin-name{
    padding-top: 10px;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background: rgb(177,59,47);
    background: linear-gradient(0deg, rgba(177,59,47,1) 0%, rgba(211,135,104,0.9359944661458334) 46%); 
    box-shadow: 2px 0px 5px;
    
}

.sidebar::before {    
    content: "";
    background-Image: url("/assets/images/cafe_background.jpg");
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 16rem;
    opacity: 0.1;
}

.sidebar-image{
    width: 100%;
    padding-bottom: 30px;
    height: auto;

}

.mintic-image{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}


.nav-pills{
    font-size: large;
    text-shadow: 1px 3px 8px;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.nav-link{
    color:#FFFFFF;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fas, .far{
    padding-right: 15%;
}
.fa-user-tie {
    font-size: 60px;
}

hr{
    border: 1px solid #FFFFFF;
}

