html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}
.content {
  width: 100vw;
  height: 100vh;
  border: solid 2px red;
}

.btn {
  position: fixed;
  z-index: 5;
  top: 2%;
  left: 2%;
  cursor: pointer;
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
.btn div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: black;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms,
    background-color 250ms;
}

.btn.active > div {
  background-color: #343838;
}
.btn.active .top {
  transform: translateY(10px) rotate(-135deg);
}
.btn.active .middle {
  opacity: 0;
  transform: rotate(135deg);
}
.btn.active .bottom {
  transform: translateY(-10px) rotate(-45deg);
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 4;
  overflow: auto;
  width: 0%;
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  justify-content: center;
  max-width: 250px;
}

/* .sidebar-image {
  width: 100%;
  padding-bottom: 30px;
  height: auto;
} */

/* .mintic-image {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
} */

/* .corr-icon-container {
  display: flex;
  flex-direction: column;
}
.corr-icon-container .corr-icon {
  align-self: flex-end;
  height: 10%;
  width: 10%;
  object-fit: contain;
}
.corr-icon-container .content-title {
  align-self: stretch;
  padding-top: 2%;
  text-align: center;
  color: #7b4a49;
  text-shadow: 2px, 2px;
}
.admin-name {
  padding-top: 10px;
  align-self: center;
}
.month-container {
  padding-top: 40px;
  padding-bottom: 10px;
}

.nav-pills {
  font-size: large;
  text-shadow: 1px 3px 8px;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav-link {
  outline: 0;
  color: #ffffff;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
}

.wrapper-user-tie {
  display: flex;
  flex-direction: column;
}
.fas,
.far {
  padding-right: 15%;
}
.fa-user-tie {
  padding-right: 0%;
  align-self: center;
  font-size: 60px;
}


.cards-about {
  min-height: 15rem;
  max-height: 15rem;
  min-width: 100%;
  max-width: 100%;
  border-radius: 25px;
  background: rgba(211, 135, 104, 0.9359944661458334);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
}

.img-about {
  display: inline;
  width: 11rem;
  height: auto;
  float: left;
  border-radius: 8px;
  position: relative;
  right: 5px;
}

.about-text {
  display: inline;
  float: right;
  min-width: 18rem;
  max-width: 18rem;
  position: relative;
  right: 5px;
}

.carousel-home {
  min-width: 80%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev-icon {
  width: 45px;
  height: 45px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  width: 45px;
  height: 45px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators .active {
  background-color: #f00;
} */
